<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Profissionais</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <a href="/"> Menu </a>
    <br/>
    <br/>
    <form th:action="@{/saveprofissional}" method="POST">
        <label>Nome:</label><input type="text" name="nome"/>
        <label>Telefone:</label><input type="text" name="telefone"/>
        <label>Endereço:</label><input type="text" name="endereco"/>
        <label>Data Nascimento:</label><input type="text" name="dataNascimento" placeholder="dd/MM/aaaa"/>
        <select th:field="${profissional.servicos[0]}" required>
            <option value="">Escolha o servico</option>
            <option th:each="servico : ${servicos}"
                        th:value="${servico.idServico}"
                        th:text="${servico.nome}">
            </option>
        </select>
        <input type="submit" value="Salvar">
    </form>
    <br/>
    <br/>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Detalhes</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        <tr th:each="profissional:${profissionais}">
            <td th:text="${profissional.idProfissional}"></td>
            <td th:text="${profissional.nome}"></td>
            <td> <a th:href="@{'/profissionais/' + ${profissional.idProfissional}}">Detalhes</a></td>
            <td> <a th:href="@{'/editarProfissional?idProfissional=' + ${profissional.idProfissional}}">Editar</a></td>
            <td> <a th:href="@{'/deletarProfissional?idProfissional=' + ${profissional.idProfissional}}">Remover</a></td>
        </tr>
    </table>
</body>
</html>